{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1 style="color: indianred">Welcome to my Blog  ✌ 😎</h1>
<hr>
<br>
    <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Hello everyone there :</h1>
        <br>
        <p>This Blog is the result from my 3 days of knowledge with Flask frame-work. Basically being a computer science student @ CEG Anna University I love communicating with my laptop, only with my laptop! Just kidding. And ya, like many other students out there, me too love Python language. And myself created an Invoice and delivery billing system in Python, I am giving the links definitely check it out. <a href="https://github.com/ersanjeevkm" target="_blank">Link to the billing system directory</a> </p>
        <p>And one last thing, I also created an front end webpage and posted on Github, just to promote my dad's business. It's somewhat cool, check that too. <a href="http://arjuntexcosilk.ga/" target="_blank">Frontend project www.arjuntexcosilk.ga</a>. Thats all the projects I have till date as an First year student. I will continue releasing my upcoming projects on Github for sure. You can also get in touch with me via different platforms I am leaving out the links in the nav-bar. Thirst for companion always 🙌.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Take me to the Blog Posts »</a>
        </p>
          <p style="float:right">I am also posting the link for the source code of this Blogging app <a href="#">Check it out here ! </a>🤞</p>
      </div>
    </div>
  </main>

{% endblock %}
